{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 4,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": false
}
