{
    "semi": false,
    "singleQuote": true,
    "printWidth": 140,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "strict",
    "plugins": ["prettier-plugin-tailwindcss"]
}
