[user]
    name = Rob Meijerink
    email = rob.meijerink@gmail.com
    signingkey = rob.meijerink@gmail.com
[alias]
    ms = merge --ff --squash
    uncommit = reset --soft HEAD~1
    unmerge  = reset --hard ORIG_HEAD
    gone = !git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
[core]
    autocrlf = input
    pager = delta
    editor = nvim
    whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore_global
[diff]
    colorMoved = zebra
    algorithm = patience
    compactionHeuristic = true
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"
[merge]
    ff = false
    conflictstyle = diff3
    tool = nvimdiff4
    prompt = false
[mergetool]
    keepBackup = false
[mergetool "nvimdiff4"]
    cmd = nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" -c \"wincmd w\" -c \"wincmd J\"
[rebase]
    autoStash = true
[delta]
    features = side-by-side line-numbers decorations
    navigate = true
    whitespace-error-style = 22 reverse
    line-numbers = true
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[delta "interactive"]
    keep-plus-minus-markers = true
[interactive]
    diffFilter = delta --color-only --features=interactive
[pull]
    rebase = true
    ff = true
[fetch]
    prune = true
[push]
    default = upstream
    followTags = true
[status]
    short = true
    submoduleSummary = true
    showUntrackedFiles = all
[color "branch"]
    upstream = cyan
[commit]
    gpgsign = true
[tag]
    gpgsign = true
[gpg]
    program = gpg
[include]
	# Load local configs.
	# https://git-scm.com/docs/git-config#_includes
	#
	# [!] The following needs to remain at the end of this file in
	#     order to allow any of the above configs to be overwritten
	#     by the local one. For example the signingkey.
    path = ~/.gitconfig.local
