alacritty/.config/alacritty/*
!alacritty/.config/alacritty/alacritty.yml
!alacritty/.config/alacritty/appearance.yml
!alacritty/.config/alacritty/alacritty.local.yml-example

lazygit/.config/lazygit/*
!lazygit/.config/lazygit/config.yml

nvm/.nvm/*
!nvm/.nvm/default-packages
