alacritty/.config/alacritty/*
!alacritty/.config/alacritty/alacritty.toml
!alacritty/.config/alacritty/appearance.toml
!alacritty/.config/alacritty/alacritty.local.toml-example

lazygit/.config/lazygit/*
!lazygit/.config/lazygit/config.yml

nvm/.nvm/*
!nvm/.nvm/default-packages
